* {
  padding: 0;
  margin: 0;
}

.city-list {
  max-height: 80vh;
  overflow: auto;
}

.selected-state {
  position: sticky;
  top: 0px;
  z-index: 5;
  background-color: white;
  padding: 7px;
  border-bottom: 1px solid grey;
}
